<ol class="paper-list">
{% for paper in include.papers %}
    <li>
        <!-- Title -->
        <span>
        {% if paper.docurl == null %}
            <span class="paper-link">
            {{ paper.title }}
            </span>
        {% else %}
            <a class="paper-link" href={{ paper.docurl | relative_url }}>
            {{ paper.title }}
            </a>
        {% endif %}
        </span>
        <br>
        <!-- Authors -->
        <ul class="paper-author-list">
        {% for author in paper.authors %}
            <li>
            <span>
            {% if author contains site.author or site.author contains author %}
                <b>{{ author | strip }}</b>
            {% else %}
                {{ author | strip }}
            {% endif %}
            </span>
            </li>
        {% endfor %}
        </ul>
        <br>
        <!-- Meta Info -->
        <span class="paper-meta">
        <b> {{ paper.venue | escape }} </b>
        </span>
    </li>
{% endfor %}
</ol>