---
layout: default
---

<div class="home">

  <!-- Personal description -->
  <div class="wrapper">
    <section class="personal-description-wrapper">
      <div class="personal-description-col personal-description-col-1">
        <h1 class="personal-description-heading">About Me</h1>
        {{ content }}
      </div>

      <div class="personal-description-col personal-description-sep">
      </div>

      <div class="personal-description-col personal-description-col-2">
        <img src="assets/headshot_round.jpg" width=160>
      </div>
    </section>
  </div>

  <!--
  <-- Create news feed ->
  {% assign all_news = site.news | sort: date | reverse %}
  {% if all_news %}
  <h2 class="news-list-heading">News</h2>
  <hr class="title-line">
  {% include news_feed.html all_news=all_news limit=10 %}
  {% endif %}
  -->

  <!-- Create paper list of publications -->
  {% assign published_papers = site.papers | where: "ispublished", true | sort: year | reverse %}
  {% if published_papers %}
  <h2 class="paper-list-heading">Publications</h2>
  <hr class="title-line">
  {% include paper_list.html papers=published_papers %}
  {% endif %}

  <!-- Create paper list of preprints -->
  {% assign preprint_papers = site.papers | where: "ispublished", false | sort: year | reverse %}
  {% if preprint_papers %}
  <h2 class="paper-list-heading">Preprints</h2>
  <hr class="title-line">
  {% include paper_list.html papers=preprint_papers %}
  {% endif %}

</div>
