---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  <!-- Create paper list of publications -->
  <h2 class="paper-list-heading">Publications</h2>
  <hr class="title-line">
  {% assign published_papers = site.papers | where: "ispublished", true | sort: date | reverse %}
  {% include paper_list.html papers=published_papers %}

  <!-- Create paper list of preprints -->
  <h2 class="paper-list-heading">Preprints</h2>
  <hr class="title-line">
  {% assign preprint_papers = site.papers | where: "ispublished", false | sort: date | reverse %}
  {% include paper_list.html papers=preprint_papers %}

</div>
