---
layout: default
---

<div class="home">

  <!-- Personal description -->
  <div class="wrapper">
    <section class="personal-description-wrapper">
      <div class="personal-description-col personal-description-col-1">
        <h1 class="personal-description-heading">About Me</h1>
        {{ content }}
      </div>

      <div class="personal-description-col personal-description-sep">
      </div>

      <div class="personal-description-col personal-description-col-2">
        <img src="assets/headshot-blank.gif" width=160>
      </div>
    </section>
  </div>

  <!-- Create paper list of publications -->
  <h2 class="paper-list-heading">Publications</h2>
  <hr class="title-line">
  {% assign published_papers = site.papers | where: "ispublished", true | sort: date | reverse %}
  {% include paper_list.html papers=published_papers %}

  <!-- Create paper list of preprints -->
  <h2 class="paper-list-heading">Preprints</h2>
  <hr class="title-line">
  {% assign preprint_papers = site.papers | where: "ispublished", false | sort: date | reverse %}
  {% include paper_list.html papers=preprint_papers %}

</div>
